body{
    background-image: url("./figma/new.jpg");
    background-size: cover  ;
}
#div1{
    text-align: center;
}
#sponsors{
    font-size: 30PX;
    height: 50px;
    width: 180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    background-color: inherit;
    border-width: 5px;
}
#about{
    font-size: 30px;
    height: 50px;
    margin-left: 20px;
    width: 125px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    background-color: inherit;
    border-width: 5px;
}
#gallery{
    font-size: 30PX;
    height: 50px;
    width: 160px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    border-radius: 10px;
    background-color: inherit;
    border-width: 5px;
}
#img1{
    position: absolute;
    top: -10px;
}
#event{
    font-size: 30PX;
    height: 50px;
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 220px;
    border-radius: 10px;
    background-color: inherit;
    border-width: 5px;
}
#register{
    background-color: rgb(0, 0, 110);
    border: 0px;
    font-size: 30PX;
    height: 50px;
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 20px;
    border-radius: 10px;
}
#esports{
    background-color: black;
    border: 0px;
    font-size: 30PX;
    height: 50px;
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 20px;
    border-radius: 10px;
}
#main{
    text-align: center;
    font-size: 200px;
    color: rgb(193, 77, 0);
    position: relative;
    top: 100px;
    text-shadow: 10px 10px black;
    font-family: cursive;
}
#div2{
    font-size: 20px;
    flex-direction: row;
    display: flex;
    position: relative;
    top: 100px;
    justify-content: space-evenly;
}
#cricket{
    margin-left: 50px;
    position: relative;
    right: 80px;
    top: 20px;
    height: 200px;
}
#cric{
    position: relative;
    left: 150px;
}
#badminton{
    position: relative;
    right: 135px;
    top: 20px;
    height: 200px;
}
#basketball{
    position: relative;
    right: 170px;
    top: 20px;
}
#football{
    position: relative;
    right: 150px;
    top: 30px;
    height: 180px;
}