h1{
    margin-bottom: 0px;
    font-family: sans-serif;
}
#stay{
    margin-top: 5px;
    margin-bottom: 25px;
    font-family: sans-serif;
}
div{
    margin-left: 600px;
    font-size: larger;
    margin-top: 100px;
    width: 350px;
    border-style: groove;
    padding: 15px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#email{
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 7px;
}
#password{
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 7px;
}
#sign{
    height: 50px;
    background-color: rgb(0, 94, 255);
    color: white;
    font-size: 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}
#para{
    font-family: sans-serif;
    margin-top: 0px;
}
#apple{
    height: 50px;
    font-size: 20px;
    border-radius: 25px;
}
#app{
    height: 20px;
}